/*CSS reset*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* div and background help*/

body {
	background-color: LightGray;
}
div {
	border: 1px solid Chocolate;
}

/* Full CSS*/

.body {
	font-family: 'Roboto', sans-serif;
	background-color: #ffffff;
}

nav {
	background-color: #ffffff;
	position: fixed;
	width: 100%;
	z-index: 9999;
}

nav > .content {
	width: 970px;
	height: 70px;
	margin: 0 auto;
}

.banner > .content {
	color: #ffffff;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	margin-top: 300px;
}
.banner .content h1 {
	font-size: 50px;
	font-weight: 100;
	margin-bottom: 10px;
}
.banner .content h3 {
	font-size: 18px;
	font-weight: 100;
}

.banner .content h1, h3 {
	letter-spacing: 0.03em;
}

nav .logo {
	margin-top: 15px;
	margin-left: 10px;
}

nav .links {
	float: right;
	margin-right: 10px;
	margin-top: 30px;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #838994;
	letter-spacing: 0.03em;
	-webkit-font-smoothing: antialiased;
}

nav .links li {
	display: inline-block;
	margin-left: 30px;
}

nav .links > .active {
	color: #4c5058;
	font-weight: 600;
}

nav .links li:hover {
	cursor: pointer;
	color: #333333;
}

.banner {
	background-image: url('../images/first-background copy.jpg');
	position: relative;
	top: 20px;
	height: 700px;
	background-repeat: no-repeat;
	background-size: cover;
}

.button {
	display: block;
	height: 1.4em;
	width: 8em;
	background: #F15A29;
	border-radius: 3px;
	color: white;
	text-align: center;
	font-family: "Open Sans";
	font-size: 16px;
	margin: 0 auto;
	margin-top: 25px;
	padding-top: 6px;
}

.button:hover {
	background: #A94E32;
}

a.button {
	text-decoration: none;
}

.cases .content {
	text-align: center;
	font-family: 'Roboto', sans-serif;
	background-color: #ffffff;
}


.cases h2 {
	font-size: 2.75rem;
	font-weight: 100;
	margin-top: 100px;
	margin-bottom: 50px;
}

.icons li {
	display: inline-block;
	font-size: 24px;
	margin-left: 15px;
	margin-right: 15px;
}

.icons h3 {
	margin-top: 50px;
}

.social .socialIcons > li {
	border-radius: 10px;
	width: 2.5rem;
	height: 2.5rem;
	display: inline-block;
	margin: 1.25rem 5px;
	border: 1px solid #eaebec;
	padding: 0.625rem 0;
	text-align: center;
}
